@import "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/mixin-responsive.scss";

.container-form {
  background-color: $tertiary-color;
  width: 80%;
  height: 800%;
  border-radius: 0.5rem;
  padding: 0.8rem;

  @include sm {
    width: 100%;
  }

  @include md {
    width: 80%;
  }

  @include lg {
    width: 60%;
  }

  @include xlg {
    width: 50%;
  }

  &__title {
    text-align: center;
    margin-bottom: 1rem;
    color: $primary-color;
  }

  
}
