<div class="mt-2">
  <div class="flex flex-space-between flex-wrap">
    @if (productsLoad$ | async) {
    <ui-text-skeleton width="150" height="50" />
    <ui-text-skeleton width="100" height="50" />

    }@else {

    <form [formGroup]="formData">
      <ui-input
        placeholder="Search..."
        formControlName="form1"
        [control]="formData.get('form1')"
      ></ui-input>
    </form>
    <ui-button
      [textButton]="'New Product'"
      (onClickAction)="goToNewProduct()"
    ></ui-button>
    }
  </div>

  <div>
    <ui-table-products></ui-table-products>
  </div>
</div>
