<div class="table-responsive mt-1">
  <table>
    <thead>
      <tr>
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>Descripción</th>
        <th>Fecha de liberación</th>
        <th>Fecha de reestructuración</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @if (productsLoad$ | async) { @for (_ of iterations; track $index) {
      <tr>
        <td>
          <ui-text-skeleton width="50" height="50" />
        </td>
        <td>
          <ui-text-skeleton width="100" height="20" />
        </td>
        <td>
          <ui-text-skeleton width="100" height="20" />
        </td>
        <td>
          <ui-text-skeleton width="100" height="20" />
        </td>
        <td>
          <ui-text-skeleton width="100" height="20" />
        </td>
        <td>
          <ui-text-skeleton width="20" height="50" />
        </td>
      </tr>
      } }@else { @for (prod of products$ | async ; track $index) {
      <tr>
        <td>
          <img [src]="prod.logo" alt="Logo" class="product-logo" />
        </td>
        <td>{{ prod.name }}</td>
        <td>{{ prod.description }}</td>
        <td>{{ prod.date_release }}</td>
        <td>{{ prod.date_revision }}</td>
        <td>
          <img
            src="assets/images/dots-vertical.svg"
            alt="actions"
            class="table-actions"
            (click)="toggleDropdown($index)"
          />
          @if (showDropdownIndex === $index) {

          <div class="dropdown-menu">
            <a (click)="editProduct(prod)">Edit</a>
            <a (click)="deleteProduct(prod)">Delete</a>
          </div>
          }
        </td>
      </tr>
      } }
    </tbody>
  </table>
  <div class="flex flex-space-between flex-wrap p-1">
    @if (productsLoad$ | async) {
    <ui-text-skeleton width="100" height="50" />
    <ui-text-skeleton width="100" height="50" />
    }@else {

    <p class="text-secondary">{{ productsLenght$ | async }} Resultado(s)</p>
    <select [formControl]="selectZiseForm" class="select-count" name="" id="">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
    }
  </div>
</div>
