$font-color: #eef7ff;
$primary-color: #0c1844;
$text-color: #4a4a4a;
$text-color-secondary: #4D869C;
$secondary-color: #eef7ff;
$tertiary-color: #cde8e5;

$breakpoint-xs: 480px; // Extra pequeño: teléfonos móviles
$breakpoint-sm: 768px; // Pequeño: tabletas
$breakpoint-md: 992px; // Mediano: laptops pequeñas
$breakpoint-lg: 1200px; // Grande: desktops
$breakpoint-xlg: 1440px; // Extra grande: pantallas grandes
